.visualizer__values{
    display: flex;
    transform: rotate(360deg); 
    /* border: 1px solid black; */
    height: 70vh;
    width: 70vw; 
    margin: auto;
    transform: scaleY(-1);
}

.visualizer__rectangles{
    background-color:#08D8FC;
    border-radius: 50px;
    margin: 1px;
    overflow: hidden;
}

.visualizer__window{
    height: 75vh;
    width: 75vw;
    margin: auto;
}

.visualizer__values{
    justify-content: space-between;
}
.visualizer__buttons{
    margin:10px;
    display: flex;
    justify-content: space-evenly;
    /* border-radius: 20px; */
    background-color: white;
}

.visualizer__sliders{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    width: 500px;
    max-width: 50%;
}

/* @media only screen and (max-width: 500px) {
    .visualizer__sliders{
        flex-direction: row;
        overflow: hidden;
    }
  } */