*{
  margin:0 ;
}

.app__header{
  padding:10px
}

.app__main{
  display: flex;
}
.app__rectanglesWindow{
  border: 1px black solid ;
  width: 1000px;
  height: 500px;
  margin: 30px;
  overflow: auto;
  
}

.app__array{
}